@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

:root {
    --primary-c: #fa8072;
    --secondary-c: #73adfa;
    --terciary-c: #7f8690;
    --background-darkmode: #676f7a;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-style: 0;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;

}

header,
.header-section,
.wrap-hero-section,
.wrap-title-presentation,
.presentation,
p,
.cta-a,
.wrap-social-logos,
.social-logos-footer,
.about_logos-section,
.projects-section,
.logos-section,
.wrap-projects-section,
.item-button-container,
.button-view-project,
.contact-section,
.form-contact,
.wrap-two-inputs,
.wrap-input,
.wrap-submit,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-title-presentation,
.about_logos-section,
.projects-section,
.wrap-social-logos,
.social-logos-footer,
.contact-section,
.form-contact,
footer {
    justify-content: space-between;
    flex-direction: column;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: white;
    z-index: 1;
}

.wrap-sections-header {
    width: 30%;
    height: 80%;
    display: flex;
}

.header-section {
    font-size: 22px;
    width: 33.3%;
    text-align: center;
    color: var(--primary-c);
    font-weight: 600;
}

.header-section-border {
    border-left: 2px solid var(--primary-c);
    border-right: 2px solid var(--primary-c);

}

.wrap-hero-section {
    height: 100vh;
    width: 100vw;
    flex-direction: row;

}

.presentation {
    width: 40%;
    height: 80%;
}

.profile-image {
    width: 60%;
    border: 1px solid var(--secondary-c);
    border-radius: 100%;
    background-color: var(--secondary-c);
}

.wrap-title-presentation {
    width: 13rem;
    height: 14rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;


}

.wrap-all-title-presentation {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wrap-name-presentation {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    font-size: 32px;
    color: #73adfa;
}

.cta-a {
    background-color: var(--primary-c);
    color: white;
    width: 130px;
    height: 52px;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25))
}

.wrap-social-logos,
.social-logos-footer {
    width: 100%;
    flex-direction: row;
}

.about_logos-section,
.projects-section {
    width: 100vw;
    height: 35vh;
}

h2 {
    color: #fa8072;
}

.about,
.logos-section,
.wrap-title-section,
.wrap-projects-section,
.wrap-title-contact-section,
.wrap-form-contact-section {
    width: 80%;
    height: 70%;
}

.logos-section,
.wrap-projects-section {
    height: 30%;
    justify-content: space-evenly;
}

.logo-brand {
    width: 50px;
    border-radius: 10%;
}

.projects-section {
    height: 60vh;
    margin-top: 20px;
}

.wrap-title-section,
.wrap-title-contact-section {
    display: flex;
    align-items: center;
    height: 15%;
}

.wrap-projects-section {
    height: 75%;
}

.item-projects-section {
    height: 100%;
    margin-left: 5px;
    width: 20%;
    border-radius: 2%;
    border: 1px solid var(--secondary-c);
}

.item-image-container {
    width: 100%;
    height: 70%;
}

.item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.item-button-container {
    height: 28%;
    width: 100%;
}

.button-view-project {
    border: 1px solid var(--secondary-c);
    width: 70%;
    height: 60%;
    border-radius: 5px;
}

.contact-section {
    width: 100%;
    height: 75vh;
    justify-content: space-around;
}

.wrap-form-contact-section {
    height: 75%;
}

.form-contact {
    height: 100%;
    width: 100%;
}

.wrap-two-inputs,
.wrap-input,
.wrap-submit {
    width: 70%;
    height: 20%;
    justify-content: space-around;
}

input {
    width: 40%;
    height: 65%;
    border-radius: 5px;
    border: 1px solid var(--secondary-c);
    padding-left: 15px;
}

.wrap-input {
    justify-content: center;
}

.wrap-input input {
    width: 90%;
}

.wrap-submit {
    justify-content: left;
}

.submit-cta {
    width: 20%;
    height: 65%;
    margin: 40px;
    border: none;
    padding: 0;

}

.submit-cta::placeholder {
    text-align: center;
}

textarea {
    max-width: 63%;
    min-width: 63%;
    max-height: 40%;
    min-height: 30%;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #fa8072;
    justify-content: space-evenly;
    width: 100vw;
    height: 18vh;
}

.social-logos-footer {
    width: 20%;
}

.footer-creds p {
    font-size: 18px;
}

.social-logo img {
    width: 28px;
    border-radius: 10%;
}

/* Media queries */

@media only screen and (min-width:600px) and (max-width:1120px){
 h1, h2{
    font-size: 35px;
 }
 .about_logos-section{
    height: 42vh;
 }
 .submit-cta{
    width: 25%;
 }
}
@media only screen and (max-width: 480px) {
    .wrap-hero-section{
        height: 80vh;
        flex-direction: column-reverse;
        margin-top: 80px;
    }
    .presentation{
        background-color: #7f8690;
        width: 40%;
    height: 80%;
    }
    .wrap-title-presentation {
        width: 100%;
        height: 100%;
        background-color: #fa8072;
    }
    .profile-image {
        width: 100%;
    }
    h1, h2{
        font-size: 22px;
     }
}