@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
:root{
    --primary-c:#fa8072;
    --secondary-c:#73adfa;
    --terciary-c:#7f8690;
    --background-darkmode:#676f7a;
}
*{
    margin: 0;
    padding: 0;
    font-style: 0;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size:22px;
}
header{
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-sections-header{
    width: 30%;
    height: 80%;
    display: flex;
}
.header-section{
    font-size: 22px;
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-c);
    font-weight: 600;
}
.header-section-border{
    border-left: 2px solid var(--primary-c);
    border-right: 2px solid var(--primary-c);

}
.wrap-hero-section{
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.presentation{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image{
    width: 60%;
    border: 1px solid var(--secondary-c);
    border-radius: 100%;
    background-color: var(--secondary-c);
}
.wrap-title-presentation{
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wrap-all-title-presentation{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.wrap-name-presentation{
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
p{
  display: flex;
  justify-content: center;
  align-items:center; 
}
h1, h2{
    font-size:40px;
    color: #73adfa;
}
.cta-a{
    background-color: var(--primary-c);
    color: white;
    width: 65%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25))
}
.wrap-social-logos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.about_logos-section, .projects-section{
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
h2{
color: #fa8072;
}
.about, .logos-section, .wrap-title-section{
    width:80%;
    height: 70%;
}
.logos-section, .wrap-projects-section{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo-brand{
    width: 50px;
    border-radius: 10%;
}
.projects-section{
    background-color: #73adfa;
height: 60vh;
}
.wrap-title-section{
   background-color: #7f8690;
   display: flex;
   align-items: center;
   height: 22%;
}
.wrap-projects-section{
    background-color: antiquewhite;
    height: 70%;
}
.social-logo img{
    width: 40px;
    border-radius: 10%;
}